@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light mode colors */
:root {
    --bgColor: #f9fafe;
    --textColor: #000000;
    --borderColor: #dddfe7;
    --bgIcon: #cecaca;
    --iconColor: grayscale(50%);
}

/* Dark mode colors */
.dark {
    --bgColor: #18191b;
    --textColor: #ffffff;
    --borderColor: #737982;
    --bgIcon: #5e5e5e;
    --iconColor: invert(100%);
}