@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light mode colors */
:root {
    --bgColor: #f9fafe;
    --textColor: #000000;
    --borderColor: #e8e9ed;
    --iconColor: #7b7d83;
    --bgIcon: #efefef;
}

/* Dark mode colors */
.dark {
    --bgColor: #3a3a3a;
    --textColor: #ffffff;
    --borderColor: #737982;
    --iconColor: #fff;
    --bgIcon: #5e5e5e;
}